*,
::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--color-primary: #00043a;
	--color-btn-bg: #c00021;
	--color-card-bg: #002962;
	--color-card-secondary: #ddd;
	--color-bg: rgb(227, 227, 227);
	--color-text: #000;
	--color-footer: #100b1a;
	--font-family: 'Lato', sans-serif;
}

/* Main Classes */

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.btn-special-animation {
	position: relative;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;
}

.btn-special-animation::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: right;
	transform-origin: right;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	z-index: -1;
}

.btn-special-animation:hover::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
	-webkit-transform-origin: left;
	transform-origin: left;
}

.section-heading {
	position: relative;
	margin-bottom: 2em;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	color: #002962;
	letter-spacing: 2px;
}

.section-padding {
	padding: 6em 2em;
}

body {
	overflow-x: hidden;
	font-family: var(--font-family);
}
.body--darken {
	background-color: rgb(75, 72, 72);
	transition: background-color 0.34s ease-in;
}

/*Navbar Section*/
.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: var(--color-primary);
	color: var(--color-bg);
	font-style: italic;
	font-size: large;
	position: sticky;
	top: 0;
	z-index: 1000;
}

.navbar__logo {
	cursor: pointer;
}

.navbar__icon {
	height: 20px;
	width: 20px;
}

.navbar__logo div {
	display: none;
	cursor: pointer;
	width: 25px;
	height: 2px;
	background-color: var(--color-bg);
	margin: 5px;
	transition: all 0.3s ease;
}

.navbar__darkMode {
	margin: 10px;
	cursor: pointer;
}

.navbar__links {
	text-decoration: none;
	color: var(--color-card-secondary);
	letter-spacing: 2px;
	font-size: 1em;
	font-weight: 700;
	position: relative;
}

.navbar__list {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 80%;
	list-style: none;
}
.navbar__list--active {
	transform: translateX(0%) !important;
}
/*burger menu*/
.toggleX .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggleX .line2 {
	opacity: 0;
}

.toggleX .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

/*Header Section*/
.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	overflow: hidden;
}

.button {
	width: 40em;
	height: 9em;
	background-color: var(--color-btn-bg);
	border-radius: 100px;
	cursor: pointer;
	text-align: center;
	margin-bottom: 4em;
}

.button__text {
	margin-top: 4%;
	font-size: 5em;
	color: var(--color-bg);
	font-style: italic;
	font-weight: 700;
	letter-spacing: 7px;
}

.header__h1 {
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 20%;
	margin-right: 20%;
	font-weight: 900;
	font-style: italic;
	font-size: 2em;
	text-align: center;
}

.header__photo {
	width: 100%;
	height: 100%;
}

/*Reviews*/
.reviews {
	background-color: #ebebeb;
}

.reviews__box {
	position: relative;
	margin: 3.2em;
	padding: 2em;
	border-radius: 8px;
	-webkit-box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
	box-shadow: 3px 3px 10px rgba(46, 46, 46, 0.18);
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	background-color: white;
}

.reviews__box:hover {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.reviews__box-img {
	position: absolute;
	top: 8%;
	right: 60%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.reviews__box-img img {
	width: 80px;
	height: 80px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 50%;
}

.reviews__box-quote {
	margin-bottom: 1em;
	font-size: 3rem;
	color: #420032;
}

.reviews__box-text {
	margin-bottom: 1em;
	font-size: 1.4rem;
	color: black;
}
/*Contact*/
.contact {
	position: relative;
	background-color: white;
	overflow: hidden;
}

.contact .wrapper {
	background-color: #002962;
	padding: 1em;
	border-radius: 10px;
}

.contact__form,
.contact__form-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.contact__form-input {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
	background-color: #ddd;
}

.contact__form-textarea {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
	min-height: 150px;
	background-color: #ddd;
}

.contact__form-btn {
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: 1em;
	width: 100%;
	max-width: 300px;
	color: white;
	border: none;
	border-radius: 8px;
	background-color: #c00021;
	cursor: pointer;
}

.contact__form-btn::before {
	background-color: #ac1717;
}
/*Footer*/
.footer {
	color: white;
	background-color: black;
}

.footer__bottom-text {
	padding: 2em;
	text-align: center;
}

/* WORK */

.work {
	color: #002962;
}

.work .wrapper {
	padding: 3em;
	border: solid 0.5em #00043a;
	border-radius: 15px;
	background-color: #ddd;
}

.work__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 2em 0;
	text-align: center;
}

.work__img {
	width: 100%;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	margin-bottom: 1em;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}

.work__img:hover {
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

.work__title {
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 2.2rem;
}

.work__text {
	font-size: 1.8rem;
}

/* Media */
@media screen and (max-width: 968px) {
	body {
		overflow-x: hidden;
		transition: background-color 0.66s ease-in;
	}

	.navbar__logo div {
		display: block;
	}

	.navbar__list {
		position: absolute;
		left: 0px;
		height: 88vh;
		top: 8vh;
		flex-direction: column;
		align-items: center;
		background-color: #00043a;
		width: 90%;
		transform: translate(-100%);
		transition: transform 0.34s ease-in;
	}

	.navbar__icon {
		height: 25px;
		width: 25px;
	}

	.navbar__links {
		opacity: 0;
		font-size: 1.5em;
	}

	.header__h1 {
		font-size: 1em;
	}
}

@media (max-width: 320px) {
	.work {
		padding: 1.1em;
	}
}

@media (min-width: 576px) {
	.work__box {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.work__box-text {
		width: 55%;
	}
	.work__box-text--right {
		text-align: right;
	}
	.work__box-img {
		width: 40%;
	}
	.work__box-img--right {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.work__img {
		margin-bottom: 0;
		max-height: 300px;
	}
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 3.6rem;
	}
	.section-padding {
		padding: 8em 2em;
	}

	.work__box {
		text-align: left;
	}
	.work__text {
		font-size: 1.8rem;
	}
}

@media (min-width: 992px) {
	.section-heading {
		font-size: 4.8rem;
	}
	.section-padding {
		padding: 10em 2em;
	}

	.work__box {
		margin: 5em 0;
	}
	.work__box-text {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		margin-bottom: 2.5em;
	}
	.work__title {
		font-size: 3.6rem;
	}
	.work__text {
		font-size: 2.2rem;
	}
}

@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 6em 0;
	}
}
/*Animations*/
@keyframes navLinksFade {
	from {
		opacity: 0;
		transform: translate(50px);
	}

	to {
		opacity: 1;
		tranform: translateX(0px);
	}
}
